{% load mongo_filters %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "concepts/property_functions.js" %}"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script  type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />

<form action="{% url 'concepts:categoryupdate' category.id %}" method="post">
{% csrf_token %}

<h1>{{ category.title }}</h1>
<br/>
<h2>{{ category.description }}</h2>
<br/>
<h2>Author: {{ category.author.username }}</h2>
<h3>Publication Date: {{ category.pub_date }}</h3>
<h3>Parent: {{ category.parent.title }}</h3>
<input type="text" id="parent" name="parent" value="{{ category.parent.title }}"/>
<input type="hidden" id="parent_id" name="parent_id" value="{{ category.parent.id}}"/>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<input type="text" name="description" id="description" value="{{ concept.description }}" />
<br/>
<h3>number of properties: {{ category.features|length }}</h3>

<ul id="prop_list">
<script type="text/javascript">

    $(document).ready(function(){
        {% for feature in category.features %}
        addPropertyRow('{{ feature.title }}','{{ feature.property_type }}', null, '{{ feature.id }}', true);
        {% endfor %}
    });

</script>
</ul>
<button type="button" id="add_prop">Add Property</button>
<br/>
<br/>
<input type="submit" value="Save" />
</form>

<script type="text/javascript">

    $(document).ready(function() {

        $("#add_prop").click(function(){
            addPropertyRow(null, null, null, null, true);
        });

        $('#parent').autocomplete({
            source:
            function (request, response) {
                $.ajax({
                    url: "{% url 'concepts:parentautocomplete' %}",
                    dataType: "jsonp",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            $("#parent_id").val(item.id);

                            getConceptProperties("{% url 'concepts:getcategoryproperties' "52de82417febbd1536575a9d" %}", item.id)

                            return {
                                label: item.title,
                                value: item.title
                            }
                        }));
                    }
                });
            },
            minLength: 2
        });
    });

</script>

