{% extends "template.html" %}
{% block content %}

<form action="{% url 'concepts:categoryupdate' category.id %}" method="post">
{% csrf_token %}

    <div class="section">
        <div class="section-header beveled-label"><h2>Category: {{ category.title }}</h2></div>
        <div class="section-content ">
            <div class="column1">
            <fieldset class="general_fs">
                <legend>General Information</legend>
                <div>
                    <div class="form_input">
                    <label class="beveled-label" for="title">Title:</label>
                    <input type="text" id="title" name="title" value="{{ category.title }}"/>
                    </div>

                    <div class="form_input">
                    <label class="beveled-label" for="parent">Parent:</label>
                    <input class="parent_autocomplete" type="text" name="parent" id="parent" value="{{ category.parent.title }}" />
                    <input type="hidden" name="parent_id" id="parent_id" value="{{ category.parent.id }}" />
                    </div>

                    <div class="form_input">
                    <label class="beveled-label" for="description">Description:</label>
                    <textarea name="description" id="description" >{{ category.description }}</textarea>
                    </div>


                </div>
            </fieldset>
            </div>

            <div class="column2-container">
                <div class="column2">
                    <fieldset>
                        <legend>Pictures</legend>
                        <!--
                        <div id="dropbox" class="pic-upload">
                            <p class="uploader-text">Drag pictures here to upload...</p>
                        </div>
                        -->
                        <div id="picture-previewer">
                        <ul id="pic-list">
                            {% for picture in category.pictures %}
                            <li class="pic-container">
                                <image class="pic-container-image" src="/images/{{ picture.id }}" />
                                <input type="hidden" id="pic{{ forloop.counter }}" name="pic{{ forloop.counter }}" value="{{ picture.id }}" />
                            </li>
                            {% endfor %}
                        </ul>
                        </div>
                    </fieldset>
                </div>

                <div class="column2">
            <fieldset class="properties_fs">
                <legend>Features</legend>

                <div>
                    <ul id="prop_list">
                        <!-- add the header for the list -->
                        <li class="featuresheader">
                            <div class='ctaddfeaturelabels'>
                                <div class='titlelabel beveled-label'>Property Name</div>
                                <div class='typelabel beveled-label'>Type of...</div>
                                <div class='removelabel beveled-label'>X</div>
                             </div>
                        </li>
                    </ul>
                    <br/>
                    <button class="ctbutton add_prop_button" type="button" id="add_prop">Add Property</button>
                </div>
            </fieldset>
            </div>
            </div>
        </div>
    </div>

    <input class="ctbutton ctsave" type="submit" value="Save" />
</form>



<script type="text/javascript">

    $(document).ready(function() {
        parentAutoUrl = "{% url 'concepts:parentautocomplete' %}";
        propertiesAjaxUrl = "concepts/getcategoryproperties"
        isCategory = true;

        $('#pic-list').sortable();

       {% for feature in category.features %}
        addPropertyRow('{{ feature.title }}','{{ feature.property_type }}', null, '{{ feature.id }}', true);
       {% endfor %}

        $("#add_prop").click(function(){
            addPropertyRow(null, null, null, null, isCategory);
        });

    });

</script>

{% endblock %}
