{% load mongo_filters %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "concepts/property_functions.js" %}"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>{{ concept.title }}</h1>
<br/>
<h2>{{ concept.description }}</h2>
<br/>
<h2>Author: {{ concept.author.username }}</h2>
<h3>Publication Date: {{ concept.pub_date }}</h3>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'concepts:conceptupdate' concept.id %}" method="post">
{% csrf_token %}
<input type="text" name="description" id="description" value="{{ concept.description }}" />
<br/>
<h3>number of properties: {{ concept.properties|length }}</h3>
<ul id="prop_list">
<script type="text/javascript">

    $(document).ready(function(){
    {% for property in concept.properties %}
    addPropertyRow('{{ property.feature.title }}','{{ property.feature.property_type }}','{{ property.value }}', '{{ property.property_id }}');
    {% endfor %}
    });

</script>
</ul>
<button type="button" id="add_prop">Add Property</button>
<br/>
<br/>
<input type="submit" value="Save" />
</form>

<script type="text/javascript">

    $(document).ready(function() {
        $("#add_prop").click(function(){
            addPropertyRow(null, null, null, null);
        });

    });

</script>

