{% extends "template.html" %}
{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'concepts:addconcept' %}" method="post">
    {% csrf_token %}

    <div class="section">
        <div class="section-header beveled-label"><h2>New Concept</h2></div>
        <div class="section-content ">
            <div class="column1">
            <fieldset class="general_fs">
                <legend>General Information</legend>
                <div>
                    <div class="form_input">
                        <label class="beveled-label" for="title">Title:</label>
                        <input type="text" id="title" name="title" />
                    </div>

                    <div class="form_input">
                        <label class="beveled-label" for="parent">Category:</label>
                        <input class="category_autocomplete" type="text" name="parent" id="parent" />
                        <input type="hidden" name="category_id" id="category_id" />
                    </div>

                    <div class="form_input">
                        <label class="beveled-label" for="description">Description:</label>
                        <textarea name="description" id="description"></textarea>
                    </div>


                </div>
            </fieldset>
            </div>

            <div class="column2-container">
                <div class="column2">
                    <fieldset>
                        <legend>Pictures</legend>
                        <div id="dropbox" class="pic-upload">
                            <p class="uploader-text">Drag pictures here to upload...</p>
                        </div>
                        <input type="hidden" id="pic1" name="pic1" />
                        <input type="hidden" id="pic2" name="pic2" />
                        <input type="hidden" id="pic3" name="pic3" />
                        <input type="hidden" id="pic4" name="pic4" />
                        <input type="hidden" id="pic5" name="pic5" />
                    </fieldset>
                </div>

                <div class="column2">
                <fieldset class="properties_fs">
                    <legend>Features</legend>

                    <div>
                        <ul id="prop_list">
                            <!-- add the header for the list -->
                            <li class="featuresheader">
                                <div class='ctaddfeaturelabels'>
                                    <div class='titlelabel beveled-label'>Property Name</div>
                                    <div class='typelabel beveled-label'>Type of...</div>
                                    <div class='valuelabel beveled-label'>Value</div>
                                    <div class='removelabel beveled-label'>X</div>
                                 </div>
                            </li>
                        </ul>
                        <br/>
                        <button class="ctbutton add_prop_button" type="button" id="add_prop">Add Property</button>
                    </div>
                </fieldset>
                </div>
            </div>
        </div>
    </div>

    <input class="ctbutton ctsave" type="submit" value="Save" />
</form>



<script type="text/javascript">

    $(document).ready(function() {
        categoryAutoUrl = "{% url 'concepts:parentautocomplete' %}";
        propertiesAjaxUrl = "/concepts/getcategoryproperties/";
        isCategory = false;

        $("#add_prop").click(function(){
            addPropertyRow(null, null, null, null, isCategory);
        });

    });

</script>

{% endblock %}