body, p {
    font-family: 'Audiowide', cursive;
    background-color: #272727;
}

.main_page {
    background-color: white;
    border-width:0px;
}

h1{
    padding-top: 10px;
    font-family: 'Audiowide', cursive;
    font-weight: bold;
    font-size: 34px;
    padding:0px;
    margin: 0px;
    line-height:100px;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    width:310px;
    float:left;
}

h2 {
    padding-top: 10px;
    font-family: 'Audiowide', cursive;
    font-size: 22px;
    padding:5px;
    margin: 0px;
    line-height:40px;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    width:310px;
    margin-left:10px;
}

.slogan{
float: left;
margin:75px 20px 10px 0px;
font-size: 20px;
}

.banner{
width:100%;
height: 100px;
margin:7px auto;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
}

.title-container {
    background-image:url(images/tree-frog.jpg);
    background-position:center;
    background-size: cover;
    width:200px;
    height:100px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

#menu-bar {
    position: fixed;
    top: 20px;
    left: 280px;
    margin-right:20px;
    padding: 10px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    z-index: 100;
    opacity: 0.5;
}

#menu-bar:hover {
    opacity: 1;
}

.account-button {
    background-image :url(images/account.jpg);
    width:52px;
    height:50px;
    border-style:none;
    float:right;
}

.options-button {
    background-image :url(images/options.jpg);
    width:52px;
    height:50px;
    border-style:none;
    float:right;
}

.notifications-button {
    background-image :url(images/notifications.jpg);
    width:52px;
    height:50px;
    border-style:none; background-image :url(images/notifications.jpg);
    width:52px;
    height:50px;
    border-style:none;
    float:right;
    float:right;
}

#new-item-button {
    background-image :url(images/new.jpg);
    width:52px;
    height:50px;
    border-style:none;
    margin: 16px;
}

#edit-item-button {
    background-image :url(images/edit.jpg);
    width:52px;
    height:50px;
    border-style:none;
    margin: 16px;
}

.search-bar {
    float:left;
    border-style:none;
}
#main-search-box {
    width:450px;
    height:40px;
    font-family: 'Audiowide', cursive;
    font-size: 30px;
}

#side-bar {
    float:left;
    width:9%;
    height:100%;
    margin-right:1%;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;

}

#main-section {
    background-color: transparent;
    border-width: 0px;
}

.banner h1 {
}

.footer {
    margin:10px;
    padding:10px;
    height:20px;
}

.section {
    margin-left:10%;
    padding:10px;
    padding-bottom:30px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    overflow: auto;
    background-color:white;
    border-color: rgb(5, 150, 74);
}

.section-header {
        clear:both;
        margin-bottom:10px;
}

.beveled-label {
    border-width: 2px 2px 2px 2px;
    border-style: outset;

    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    background: #d1ffe8; /* Old browsers */
    background: -moz-linear-gradient(top, #d1ffe8 0%, #09e54b 17%, #3ab03c 28%, #009c16 64%, #007418 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1ffe8), color-stop(17%, #09e54b), color-stop(28%, #3ab03c), color-stop(64%, #009c16), color-stop(100%, #007418)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d1ffe8 0%, #09e54b 17%, #3ab03c 28%, #009c16 64%, #007418 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d1ffe8 0%, #09e54b 17%, #3ab03c 28%, #009c16 64%, #007418 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d1ffe8 0%, #09e54b 17%, #3ab03c 28%, #009c16 64%, #007418 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d1ffe8 0%, #09e54b 17%, #3ab03c 28%, #009c16 64%, #007418 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1ffe8', endColorstr='#00913a',GradientType=0 ); /* IE6-9 */

}

.login-box {
    width:340px;
}

.section-content {
   border-width: 0px 0px 0px 0px;
   background-color: transparent;
}

.form_input {
    padding:2px;
    border-width: 0px;
}

.form_input input {
    display: inline-block;
}

label {
    display: inline-block;
    float: left;
    padding-right: 5px;
    width: 120px;
    text-align: right;
}

.form_input textarea {
    height: 100px;
    width: 150px;
}

div, button {
    background-color: rgb(94, 229, 94);
    color: White;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

#menu {
    position:absolute;
    z-index:2;
    visibility: hidden;
}

.menu {
    width:150px;
    height:200px;
    border-style:solid;
    border-width:2px;
    border-color:white;
    background-color: #272727;
    color:white;
    cursor:hand;
}

.menu li {
    border-bottom-width: 1px;
    border-bottom-color: #272727;
}

.menu li:hover {
    background-color: rgba(20, 130, 5, 0.3);
}

.ctbutton {
    background-color: #000000;
    color: White;
    border-style: outset;
    border-width: 2px;
    border-color: white;
}

.ctsave {
    position: fixed;
    top: 65%;
    left: 95%;
    height:50px;
}

.user-row, .password-row {
    padding: 5px;
    border-style:none;
}

ul {
    list-style-type: none;
    width:410px;
	padding-left:10px;
}
li .featuresheader {

}

.column1 {
    float:left;
    padding:10px;
    border-width: 2px 2px 2px 2px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    background-color: #272727;
    border-style: outset;
}

.column2-container {
    background-color: transparent;
}

.column2 {
    margin-left:42%;
    padding:10px;
    margin-bottom:10px;
    border-width: 2px 2px 2px 2px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    background-color: #272727;
    border-style: outset;
}

.pic-upload {
    background-color: transparent;
    border-color:grey;
    border-width:3px;
    width:75px;
    height:75px;
    color:grey;
    font-size:10px;
    padding:2px;
}

.uploader-text {
    position:absolute;
    z-index: 0;
    color:white;
    background-color: #5EE55E;
}

.general_fs, .properties_fs  {

}

 .titlelabel   {
    float: left;
    font-family: 'Audiowide', cursive;
	width:150px;
	margin-right:5px;
	padding:5px;
    background-color: rgb(20, 170, 0);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

 .typelabel {
    float: left;
    font-family: 'Audiowide', cursive;
	width:100px;
	margin-right:5px;
	padding:5px;
    background-color: rgb(20, 170, 0);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.property_row {
    padding-left:5px;
    border-style:none;
}

.ctaddfeaturelabels {
    padding-top: 5px;
    padding-left: 5px;
    height:40px;
    border-style:none;
    background-color: transparent;
}

.valuelabel {
	float:left;
    clear: both;
	font-weight: bold;
	width:100px;
	margin-right:5px;
	padding:5px;
	color:black;
}

.removelabel {
    float: left;
    font-family: 'Audiowide', cursive;
	width:16px;
	margin-right:5px;
	padding:5px;
    background-color: rgb(20, 170, 0);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	text-align:center;
}

.ctnewtype {
	float:left;
	width:112px;
	margin-right:5px;
}

.ctnewvalue {
	float:left;
	width:109px;
	margin-right:5px;
}

.ctnewfeaturetitle {
    float: left;
    width:158px;
    margin-right:5px;
}



.ctnewvaluelabel  {
	float:left;
	width:100px;
	text-align:right;
	margin-right:5px;

}

remove-button {
    float:left;
}

.ctfields {
	width:400px;
}




.ctproprow {
    width: 400px;
}

.ctproprow input {
    width: 150px;
    margin-right: 5px;
}


.add_prop_button{
    clear:both;
    padding-left:10px;
    float:left;
}


