{% load mongo_filters %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>ClimbTi.me</title>

    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD83j73KmJjZq_oqoo03vAqJaAT0bUxMF4&sensor=false"></script>
    <script src="{% static "concepts/property_functions.js" %}"></script>
    <script  src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script  src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script  src="{% static "concepts/parent_autocomplete.js" %}"></script>
    <script  src="{% static "concepts/jquery.filedrop.js" %}"></script>
    <script  src="{% static "concepts/fileupload.js" %}"></script>
    <script  src="{% static "concepts/jquery.watermarkinput.js" %}"></script>

    <link href='http://fonts.googleapis.com/css?family=Vidaloka' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="{% static "concepts/climbtime.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "concepts/fileupload.css" %}" />

</head>
<body>
    <div class="main_page"></div>
        <div class="banner">
            <div class="title-container">
                <h1>ClimbTi.me</h1>

            </div>

            {% if user.is_authenticated %}
            <div id="menu-bar">
                    <div class="search-bar"><input id="main-search-box" /><button class="ctbutton">?</button></div>
                    <div class="notifications-button"></div>
                    <div class="options-button"></div>
                    <div class="account-button"></div>

            </div>

            <div class="popup" id="menu">
            <ul class="menu" id="account-menu">
                <li>Account Settings</li>
                <li>Logout - {{ user.username }}</li>
            </ul>
            </div>
            {% endif %}

        </div>

        <div id="main-section">
            {% if user.is_authenticated %}
            <div id="side-bar">
                <div id="new-item-button"></div>
                <div id="edit-item-button"></div>
            </div>
            {% endif %}

            {% block content %}
            {% endblock %}
        </div>

        <div class="footer"></div>
    </div>

    <script type="text/javascript">
        var mouseX;
        var mouseY;

        $(document).mousemove( function(e) {
           mouseX = e.pageX;
           mouseY = e.pageY;
        });

        $(document).ready(function(){

            $('#main-search-box').Watermark('Search...');

            $('.account-button').click(function(){
                $('#menu').css({'visibility':'visible'});
                $('#menu').css({'top':mouseY,'left':mouseX}).fadeIn('slow');
            });

            //create a id for each menu item and hook the click
            $(".menu").mouseleave(function(){
                $('#menu').fadeOut('slow');
}           );
        });
    </script>
</body>
</html>



